
			td{
				font-family: cursive;
				padding: 0;
				color: #808080;

			}
			   
			
			body{
			
    			font-size: 1.3em;
    			padding: 20px;
    			
			}

			h3 {
				font-family: Cambria;
				font-size: 1.2em;
			}
			table{
				margin : 0 auto;
				
			}
	